
* {
  font-family:sans-serif;
  color: white;
  font-size: 20px;
  cursor:grab;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: rgb(178, 211, 209);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(21, 30, 9);

}


:root {
  --bg-color: rgb(21, 30, 9);
  --options-height: 35px;
  --options-width: 35px;
  --options-bg-color: rgb(29, 41, 15);
  --text-color: white;
  --icon-width: 30px;
  --icon-height: 30px;
  --smal-font-size: 13px;
  --big-font-size: 30px;
  --option-title-font-size: 15px;
}

.body-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.coin{
  height: 30px;
  width: 30px;
}

.header{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px 30px;
  position: fixed;
  background-color: var(--options-bg-color);
  z-index: 1;
}

img {
  cursor: pointer;
}

.top {
  width: 97%;
  height: fit-content;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* padding-bottom: 20px; */
  box-sizing: border-box;
  overflow-y: hidden;
}

/* .coin-with-value {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  background-color: blueviolet;
  overflow: hidden;
  height: 50px;
} */

/* .description-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin: auto;
  justify-content: space-between;

} */

.counter-container {
  /* background-color: blueviolet; */
  width: fit-content;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.level-desc-container {
  height: fit-content;
  display: flex;
flex-direction: column;
justify-content: space-between;
}

.stage-container {
  height: 70px;
  width: 150px;
  margin: auto;
}

.ballance{
  font-size: var(--big-font-size);
  /* margin: auto; */
  font-weight: 700;
  padding: 5px;
}

.currency {
  margin-left: 5px;
}

.head-coin {
  width: var(--icon-width);
  height: var(--icon-height);
}

.lvl-container {
  height: fit-content;
  margin: 0;
  height: 100px;
}

 .stage {
  font-size: 22px;
}

.stage-label {
  font-size: 14px;
}

.level{
  height: 30px;
  width: 200px;
  display: grid;
  align-items: center;
  font-size: 16px;
}


img.patcoin {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 20000px;
  box-shadow: 0 10px 138px 12px rgb(253, 185, 96);
  margin-bottom: 50px;

}

img.patcoin:hover {
  width: 278px;
  height: 278px;
  transition: .5s ease-in-out;
}

.timer-label {
  font-size: 14px;
}

.status-container {
  margin-bottom: 30px;
}

/*
h5.timer {
  font-size: 17px;
}

.patcoin:active {
  background-color: unset;
  transform: scale(1.03);
  transition-duration: .3s;
  background-color: unset;
}

.patcoin:hover {
  background-color: unset;
} */



.footer-container{
  bottom: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  background-color: var(--options-bg-color);
  padding-bottom: 10px;
  padding-bottom: 30px;
}

.options {
  width: 150px;
  height: 70px;
  border-radius: 10px;
  padding: 2px;
  box-sizing: border-box;
  display: grid;
  margin: auto;
  align-content: center;
  text-align: center;
  margin-top: 4px;
}

.footer-container .options a {
  cursor: pointer;
  text-decoration: none;
}

.options-item{
  width: 25px;
  height: 25px;
  margin-top: 16px;
  cursor: pointer;
}

.options img {

  
  padding: 2px;
  margin: auto;
  align-items: center;
  border: 3px solid rgb(176, 255, 92);
  border-radius: 100px;
}

.option-title {
  font-size: var(--option-title-font-size);
  text-align: center;
  padding: 3px 9px;
  border-radius: 7px;
  cursor: pointer;
}






/* -----TASK----- */


.task-heading {
  height: 57px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  margin-top: 150px;
  margin-bottom: 5px;
  font-size: 24px;
  /* background-color: beige; */
}

.friend-description {
  margin: 15px;
  font-size: 20px;
  width: 70%;
  margin: auto;
}

.friend-body {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-container{
  width: 357px;
  margin: auto;
  margin-bottom: 75px;
  margin-top: -40px;
  scrollbar-width: none;
  /* background-color: aliceblue; */
}


.task {
  --task-width: 300px;
  --task-height: 60px;
  --task-padding: 0 12px;
}

.task {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: var(--task-width);
  height: var(--task-height);
  padding: var(--task-padding);
  align-items: center;
  text-decoration: none;
  margin: 3px auto;
  border-radius: 5px;
  background-color: rgb(138, 167, 109);
}

.task-icon {
  width: 40px;
  height: 40px;
  display: grid;
  border-radius: 200px;
  align-items: center;
  background-color:rgb(73, 109, 47);
}

/* .fa-brands{
  margin: auto;
  align-self: center;
} */

i{
  height: 100%;
  width: 100%;
  margin: auto;
}

a, h6 {
  text-decoration: none;
  font-size: 15px;
}

a .task-currency {
  font-size: 14px;
}

.claim{
  /* background-color: rgba(44, 69, 96, 0.782); */
  padding: 3px 7px;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
}

.opaciti{
  opacity: .6;
}




/* ----FRIENDS---- */



.friends-body{
  display: grid;
  background-color: var(--options-bg-color);
}

.task-body {
  height: 600px;
  width: 97%;
  align-items: center;
  margin-top: 110px;
  /* background-color: blanchedalmond; */
}

.referal-heading {
  height: 60px;
  width: 80%;
  background-color: rgb(94, 113, 71);
  display: grid;
  align-items: center;
  text-align: center;
  margin: auto;
}

.fixed {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 60px;
  padding-top: 30px;
  /* margin-top: -20em; */
}

/* img.patcoin:hover {
  width: 200px;
  height: 200px;
  transition: unset;
} */

.friends-container{
  background-color: rgba(54, 73, 12, .95);
  padding: 30px 10px;
  display: grid;
  width: 370px;
  height: 490px;
  bottom: 0;
  display: grid;
  justify-self: center;
  z-index: 1;
  position: fixed;
  margin-top: 10em;
  margin-bottom: 5em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 -10px 2px .3px rgb(177, 132, 17);
}


.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referal-description {
  text-align: center;
  margin: auto;
  line-height: 26px;
  margin: 30px auto;
  padding: 20px;
}

form {
  width: 95%;
  height: 50px;
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin: auto;
} 

input {
  color: black;
  width: 96%;
  border-radius: 9px;
}

.btn {
  width: 80px;
  color: black;
  padding: 0 10px;
  border-radius: 10px;
}

.coupon {
  width: 230px;
  text-align: center;
}

.frd {
  z-index: 1;
}

.referal-btn {
  padding: 10px;
  margin: auto;
  background-color: rgb(81, 104, 52);
  border-radius: 12px;
  border: 1px solid gold;
  box-shadow: 0 0 5px -1px;
  display: grid;
}




/* -----MOBILE----- */



@media only screen and (max-width: 768px) {

  .header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 5px 30px;
    position: fixed;
    background-color: var(--options-bg-color);
    z-index: 1;
  }

   .coin-name {
    font-size: 35px;
  }

  .coin{
    height: 50px;
    width: 50px;
  } 

  .patcoin {
    cursor: pointer;
  }


  .level-desc-container {
    width: fit-content;
    height: 60px;
    margin: auto;
  }





  
  .ballance{
    font-size: 30px;
  }
  
  

 
  /* .level{
    font-size: 17px;
    background-color:  rgb(64, 57, 33);
  } */

  .stage-container {
    margin: 0;
    height: 65px;
  }

 

  img.patcoin {
    height: 260px;
    width: 260px;
    padding: 0;
    margin: 10px 0 20px;
    box-shadow: 0 10px 138px 12px rgb(247, 189, 31);
  }


  .footer-container{
    width: 100%;
    height: fit-content;
    background-color: var(--options-bg-color);
    padding-bottom: 40px;

  }

  .friends-footer {
    width: 100%;
    left: 0;
  }
 
  .options {
    text-align: center;
    margin-top: 5px;
    width: 100px;
    height: 70px;
  }

  .options-item{
    width: 27px;
    height: 27px;
    margin-top: 16px;
    cursor: pointer;
  }
 
  .option-title{
    font-size: 15px;
  }
 
.description-container {
  width: 97%;
  height: 400px;
}


  /* -----TASK----- */

  
  .friends-body{
    background-color:  var(--options-bg-color);
    height: 90%;
    padding: 120px 10px;
  }

  .referal-container{
    height: fit-content;
    width: fit-content;
    background-color: rgb(45, 86, 87);
    margin: auto;
    padding: 5px 15px;
    border-radius: 20px;
  }

  form {
    margin: 20px;
    height: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form-control {
    color: rgb(91, 255, 247);
    border-radius: 5px;
    border: navajowhite;
    padding: 10px 15px;
    background-color: rgb(146, 146, 146);

  }

  .btn {
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    border: 1.3px solid goldenrod;
    padding: 5px 15px;
    font-size: 19px;
    width: 160px;
  }


  .referal-heading {
    border-radius: 16px;
  }


  .friend {
    font-size: 19px;
    width: 90%;
    margin: 45px 0;
    text-wrap: wrap;
  }

  /* .ref-link {
    height: 40px;
    color: aqua;
  } */


  .fixed {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 80px;
    padding-top: 30px;
    /* margin-top: -20em; */
  }


  .friends-container{
    
    /* background-image: url(images/mainpeople-removebg-preview.png); */
    background-size: cover;
    background-position-x: center;
    padding: 30px 10px;
    width: 95%;
    height: 400px;
    /* bottom: 0; */
    display: grid;
    margin: auto;
    justify-self: center;
    margin-right: 20px;
    z-index: 1;
    position: fixed;
    margin-top: 10em;
    margin-bottom: 4em;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 -10px 2px .3px rgb(177, 132, 17);
  }
  



}
